.acheivements-featured-category-container .wrapper{
    box-shadow: 0px 3px 8px var(--tertiary-color);
    margin: 3rem 2rem;
    border-radius: 2rem;
}
.grid-50-50{
    gap: 0rem;
}
.acheivements-featured-category-heading{
    text-align: center;
    margin: 2rem 0rem;
}
.acheivements-badges-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.acheivement-badge-container .acheivement-badge{
    width: 4.4rem;
    height: 5.2rem;
}
