*{
  box-sizing: border-box;
  margin: 0;
}
ul{
  margin: 0px;
  padding: 0px;
}
span{
  margin: 0;
  padding: 0;
}
.col-1{
  grid-column: 1 / 2;
}
.col-2{
  grid-column: 2 / 3;
}
.flex-1{
  flex: 1;
}
.primary-color{
  color: var(--primary-color);
}
.primary-text-color{
  color: var(--primary-text-color);
}    
.secondary-color{
  color: var(--secondary-color);
}