*{
  box-sizing: border-box;
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}
span{
  margin: 0;
  padding: 0;
}
.col-1{
  grid-column: 1 / 2;
}
.col-2{
  grid-column: 2 / 3;
}
.flex-1{
  flex: 1;
}
.primary-color{
  color: var(--primary-color);
}
.primary-text-color{
  color: var(--primary-text-color);
}    
.secondary-color{
  color: var(--secondary-color);
}
.page-container{
  display: grid;
  grid-template-columns: 18.75rem auto;
}
@media only screen and (max-width: 870px){
  .page-container{
      display: grid;
      grid-template-columns: 1fr;
  }
}