.hero-user-image-container-lg{
    width: 15.6rem;
    height: 15.6rem;
    margin: 0 2rem;
}
.hero-user-image-container-sm{
    display: none;
    width: 3.7rem;
    height: 3.7rem;
    position: absolute;
    top: 2px;
    right: 10px;
}
@media only screen and (max-width: 1200px){
    .hero-user-image-container-lg{
       display: none;
    }
    .hero-user-image-container-sm{
        display: block
    }
   
}